.mx-auto{
    width: 350px;
}
button{
    width: 700px;
}
.body{
    background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}